{% extends "user_base.html" %}

{% block user_title %}Edit Note{% endblock %}

{% block user_body %}
    <h2 class="text add-title">Edit Note</h2>
    <div class="add-card">
        <div class="add-form">
            <form action="{{ url_for('edit_note', i_d=i_d) }}" method="post" novalidate>
                {{ form.csrf_token }}
                {{ form.title() }}<br>
                {% for error in form.title.errors %}
                <p class="text add-instruction">{{ error }}</p>
                {% endfor %}
                {{ form.content() }}<br>
                {% for error in form.content.errors %}
                <p class="text add-instruction">{{ error }}</p>
                {% endfor %}
                {{ form.button() }}
            </form>
        </div>
    </div>
{% endblock %}