{% extends "base.html" %}

{% block head %}
    <meta name="description" content="Full-stack developer building web and mobile apps with Flask and React.">
    <style>
        body {
            box-sizing: border-box;
            padding-bottom: 0;
            margin-bottom: 0;
        }

        div.hero-prompt::before {
            content: "Hero";
            color: transparent;
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            filter: brightness(0.2);
            min-width: 100vw;
            min-height: 100vh;
            z-index: -1;
            position: fixed;
            top: 0;
            left: 0;
        }

        @media (orientation: portrait) {
            div.hero-prompt::before {
                background-image: url("{{ url_for('static', filename='images/follavatar-portrait.jpg') }}");
            }
        }

        @media (orientation: landscape) {
            div.hero-prompt::before {
                background-image: url("{{ url_for('static', filename='images/follavatar-landscape.jpg') }}");
            }
        }


    </style>
{% endblock %}

{% block body %}

    <!--  Hero  -->
    <div class="hero-prompt">
        <h2 class="text hero-body hero-title" style="display: none;">I'm Folajimi Abolade</h2>
        <p class="text hero-body hero-comment" style="display: none;"> Full-Stack <span class="typer"></span></span></p>
        <a class="text hero-body home-link" style="display: none;" href="{{ url_for('categories')}}">View projects</a>
        <div class="hero-actions" style="display: none;">
            <a class="text button hero-body hero-button" type="button" href="mailto:contact@foladevelops.com" target="_blank" rel="noopener noreferrer">
                <svg class="bi bi-whatsapp home-whatsapp" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z"/>
                </svg>
                <span class="home-chat"> Email</span>
            </a>
        </div>
    </div>

    <!--  Video section  -->
<!--    <div class="video-holder">-->
<!--        <video class="video" controls width="640">-->
<!--            <source src="{{ video_url }}" type="video/mp4">-->
<!--            Your browser does not support the video tag.-->
<!--        </video>-->
<!--    </div>-->
    <!--  End of video section  -->

    </div>

    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>

    <script>
        var typed = new Typed(".typer", {
        strings: [
            "Web Software Developer", 
            "Mobile Software Developer",
        ],
        typeSpeed: 100,
        backSpeed: 50,
        startDelay: 2000,
        loop: true,
        });
    </script>
{% endblock %}
