{% extends "base.html" %}

{% block title %}Projects{% endblock %}

{% block head %}
    <style>
        body {
            box-sizing: border-box;
        }

        div.designs-holder::before {
            content: "background placeholder";
            color: transparent;
            background-image: url("{{ url_for('static', filename='images/colors.png') }}");
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            position: fixed;
            top: 0;
            min-height: 100vh;
            min-width: 100vw;
            z-index: -1;
            filter: brightness(0.2);
        }

        div.designs-holder {
            min-height: 100vh;
        }
    </style>
{% endblock %}


{% block body %}
    <div class="designs-holder">
        <div class="designs-house">
            <div class="design design-category businesss">
                <p class="text design-type"><b>▲ 1. 🌮 QuickBite</b></p>
            </div>

            <div class="businesss-designs hidden">
                <p class="text"><i>Web Developer (May 2025 - Present)</i></p>
                <ul class=designs-list>
                    <li class="text">
                        <p class="text">Features:</p>
                        <ul class="features">
                            <li class="text">Restaurant menu showcase</li>
                            <li class="text">Responsive design for mobile and desktop</li>
                            <li class="text">SEO optimization for better visibility</li>
                            <li class="text">Secure deployment and uptime monitoring</li>
                        </ul>
                    </li>

                    <li class="text">
                        <p class="text">Technology Stack:</p>
                        <ul class="features">
                            <li class="text">HTML</li>
                            <li class="text">CSS</li>
                            <li class="text">JavaScript</li>
                            <li class="text">Render</li>
                        </ul>
                    </li>

                    <p class="text project-detail">Developed and currently maintain the official website for QuickBite, helping the business improve its online presence and engage better with its customers.</p>

                    <li class="text">
                        <a class="text preview-button"style="color: #FF90BB" href="https://quickbitekitchen.onrender.com/" target="_blank" rel="noopener noreferrer">Website</a>
                    </li>
                
                </ul>
            </div>

        </div>
    </div>
{% endblock %}