<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
     <style>
      .house {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
     </style>
</head>
<body>

  <div class="house">
    <!-- <h3>This is an html text</h3>
    <pre>
      &lt;h1 style='background: green;'&gt;Welcome&lt;/h1&gt;
      &lt;p&gt;user&lt;/h1&gt;
    </pre> -->

    
    <!-- <xmp>
      <h1 style='background: green;'>Welcome</h1>
      <p>user</h1>
    </xmp> -->
  </div>
</body>
</html>